body{
	/*display: grid;
	grid-template: 3fr 1fr/ 100%;
	*/
	background-color: whitesmoke;
}

#body{
	display: block;
	width: 300px;
	margin: 8rem auto;
	padding: 11px;
	background-color: hsl(90, 80%,60%);
	border-radius: 10px;
	box-shadow: -30px 30px 15px hsla(0, 0%, 0%, 0.5);
}

#display{
	height: 75px;
	display: grid;
	margin: 4px 4px 11px 4px;
	grid-template: 30px 45px / 100%;
	/*border: 1px solid black;*/
	border-radius: 10px;
	background-color: black;
}

#temporal{
	color: white;
	font-size: 35px;
	text-align: right;
	/*vertical-align: middle;
	line-height: 40px;*/
	margin: 0px 10px 10px 10px;
}

#current{
	color: white;
	font-size: 20px;
	text-align: right;
	/*vertical-align: middle;
	line-height: 35px;*/
	margin: 10px 10px 5px 10px;
}

#buttons{
	display: grid;
	margin: 0;
	grid-template: repeat(5,75px)/repeat(4,75px);
	align-items: center;
	justify-items: center;

}

.numbers, .operators, .specials{
	height: 65px;
	width: 65px;
	border: 1px solid black;
	border-radius:10px;
	margin: auto;
	font-size: 24px;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 65px;
	background-color: black;
	
}

.clicked{
	font-size: 23px;
	border: 1px solid hsl(120, 0%, 30%);
	box-shadow: inset 0px 0px 30px hsl(120, 0%, 30%);
}

#add{
    grid-area: 4/4/6/5;
    margin: auto;
    height: 140px;
    width: 65px;
    line-height: 140px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

footer{
  display: grid;
  grid-template: 100% / 1fr 1fr 1fr;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
}

footer h3 {	
    font-family: open-sans;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
	vertical-align: middle;
	line-height: 48px;
}

img{
	background: transparent;
	margin: 6px;
}

social{
display: flex;
justify-content: center;
align-items: center;
}